<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link href='css/main.css' rel='stylesheet' type='text/css'>
</head>
<body ng-app="todoListApp" ng-controller="MainController" id="todoList">
    <header>
        <h1>To do list:</h1>
    </header>
    <section>
        <ol class="tasks rectangle-list">
            <todo ng-repeat="task in tasks"></todo>
        </ol>
        <form action="#" method="post">
            <input type="text" ng-model="task.name" name="newtask" id="newtask" placeholder="task..." />
            <input type="date" ng-model="task.date" name="taskdate" id="taskdate"  />
            <div class="button-section">
                <button id="submittask" type="button" ng-click="update(task)">+</button>
            </div>
        </form>
    </section>


    <!-- scripts -->

    <script src="js/app.js"></script>
    <script src="js/controllers/maincontroller.js"></script>

</body>
</html>